In [2]:
# importing libraries
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import seaborn as sns
from matplotlib import gridspec
import plotly.figure_factory as ff
import plotly.graph_objects as go
plt.style.use('ggplot')

In [5]:
# importing dataset
calendar = pd.read_csv('data/calendar.csv.gz', encoding='utf-8-sig')
# previewing first 5 rows and last 5 rows of the dataset
calendar.head().append(calendar.tail())

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,17878,2022-12-30,f,"$1,600.00","$1,600.00",5.0,28.0
1,17878,2022-12-31,f,"$1,600.00","$1,600.00",5.0,28.0
2,17878,2023-01-01,f,"$1,600.00","$1,600.00",5.0,28.0
3,17878,2023-01-02,t,"$1,200.00","$1,200.00",5.0,28.0
4,17878,2023-01-03,f,"$1,200.00","$1,200.00",5.0,28.0
10329867,251701,2023-12-24,t,$528.00,$528.00,7.0,1095.0
10329868,251701,2023-12-25,t,$528.00,$528.00,7.0,1095.0
10329869,251701,2023-12-26,t,$528.00,$528.00,7.0,1095.0
10329870,251701,2023-12-27,t,$528.00,$528.00,7.0,1095.0
10329871,251701,2023-12-28,t,$528.00,$528.00,7.0,1095.0

In [6]:
# saving final df as a new csv file.
calendar.to_csv('data/calendar.csv', encoding='utf-8-sig',index=False)

In [7]:
listings = pd.read_csv('data/listings.csv', encoding='utf-8-sig')

In [8]:
# saving final df as a new csv file.
listings.to_csv('data/listings.csv', encoding='utf-8-sig',index=False)